<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="uza - Model Agency HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Serv India Consultants</title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>

    <!-- ***** Top Search Area Start ***** -->
    <div class="top-search-area">
        <!-- Search Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close Button -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <!-- Form -->
                        <form action="index.html" method="post">
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                            <button type="submit" class="button1">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Top Search Area End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="uzaNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="./img/core-img/SIC-LOGO.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="./team.html">TEAM</a>
                                <li><a href="./services.html">SERVICES</a>
                                    <ul class="dropdown">
                                        <li><a href="./finance.html">FINANCE</a>
                                            <ul class="dropdown">
                                                <li><a href="./pitch-for-funding.html">PITCH FOR FUNDING</a></li>
                                                <li><a href="./accounts.html">ACCOUNTS</a></li>
                                                <li><a href="./cost.html">COST</a></li>
                                                <li><a href="./core-finance.html">CORE FINANCE</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="./legal.html">LEGAL</a>
                                            <ul class="dropdown">
                                                <li><a href="./corporate-law.html">CORPORATE LAW</a></li>
                                                <li><a href="./ipr-law.html">IPR LAW</a></li>
                                                <li><a href="./cyber-law.html">CYBER LAW</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="./operations.html">OPERATIONS</a>
                                            <ul class="dropdown">
                                                <li><a href="./business-market-research.html">BUSINESS MARKET RESEARCH</a></li>
                                                <li><a href="./data-analytics.html">DATA ANALYTICS</a></li>
                                                <li><a href="./strategy.html">STRATEGY</a></li>
                                                <li><a href="./operation.html">OPERATIONS</a></li>
                                                <li><a href="./management.html">MANAGEMENT</a></li>
                                                <li><a href="./logistics.html">LOGISTICS</a></li>
                                                <li><a href="./marketing-and-advertising.html">MARKETING & ADVERTISING</a></li>
                                                <li><a href="./branding-and-frenchise-building.html">BRANDING & FRANCHISING</a></li>
                                                <li><a href="./events.html">EVENTS</a></li>
                                                <li><a href="./technical.html">TECHNICAL</a></li>
                                                <li><a href="./enviroment.html">ENVIROMENT</a></li>
                                                <li><a href="./reality.html">REALITY</a></li>
                                                <li><a href="./space-sharing.html">SPACE SHARING</a></li>
                                                <li><a href="./virtual-business.html">VIRTUAL BUSINESS</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="./personnel.html">PERSONNEL</a>
                                            <ul class="dropdown">
                                                <li><a href="./human-resource.html">HUMAN RESOURSE</a></li>
                                                <li><a href="./training-and-development.html">TRAINING & DEVELOPMENT</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="./technology.html">TECHNOLOGY</a>
                                            <ul class="dropdown">
                                                <li><a href="./it.html">IT</a></li>
                                                <li><a href="./server-management.html">SERVER MANAGEMENT</a></li>
                                                <li><a href="./ai-integration.html">AI INTEGRATION</a></li>
                                                <li><a href="./business-simulation.html">BUSINESS SIMULATION</a></li>
                                            </ul>
                                        </li>
                    <!-- Dropdown Menu upto 3 Tier -->
                                        <!--<li><a href="#">- Dropdown</a>
                                            <ul class="dropdown">
                                                <li><a href="#">- Dropdown Item</a></li>
                                                <li><a href="#">- Dropdown Item</a>
                                                    <ul class="dropdown">
                                                        <li><a href="#">- Even Dropdown</a></li>
                                                        <li><a href="#">- Even Dropdown</a></li>
                                                        <li><a href="#">- Even Dropdown</a></li>
                                                        <li><a href="#">- Even Dropdown</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">- Dropdown Item</a></li>
                                                <li><a href="#">- Dropdown Item</a></li>
                                            </ul>
                                        </li>-->
                                    </ul>
                                </li>
                                <li><a href="./business-journey.html">BUSINESS JOURNEY</a></li>
                                <li><a href="./startup-the-business.html">STARTUP THE BUSINESS</a></li>
                                <li><a href="./career.html">CAREER</a>
                                    <ul class="dropdown">
                                        <li><a href="./jobs.html">JOBS</a></li>
                                        <li><a href="./internship.html">INTERNSHIPS</a></li>
                                        <li><a href="./training.html">TRAINING</a></li>
                                    </ul>
                                </li>
                                <li><a href="./contact.html"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a></li>
                                <li><a href="./Login_v1/login.html"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                <li><div class="search-icon" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search" aria-hidden="true"></i></div></li>
                            </ul>

                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcrumb-area">
        <div class="container h-100" style="align-text:center;  ">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title" style="color: red;">TEAM</h2>
                        <!--<nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Team</li>
                            </ol>
                        </nav>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="./img/core-img/curve-5.png" alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Our CEO Area Start ***** -->
    <section class="uza-about-us-area">
        <div class="container">
            <div class="row align-items-center">

                <!-- CEO Thumbnail -->
                <div class="col-12 col-md-6">
                    <div class="about-us-thumbnail mb-80">
                        <img src="./img/bg-img/our ceo.png" alt="">
                    </div>
                </div>

                <!-- Our CEO Content -->
                <div class="col-12 col-md-6">
                    <div class="about-us-content mb-80">
                        <h2><span style="color: red;">O</span>UR CEO</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna
                            liquyam erat.</p>
                        <!--<a href="#" class="btn uza-btn btn-2 mt-4">Start Exploring</a>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- CEO Background Pattern -->
        <div class="about-bg-pattern">
            <img src="./img/core-img/curve-2.png" alt="">
        </div>
    </section>
    <!-- ***** Our CEO Area End ***** -->

    <!-- ***** Company Area Start ***** -->
    <section class="uza-why-choose-us-area">
        <div class="container">
            <div class="row align-items-center">
                <!-- Company Content -->
                <div class="col-12 col-lg-6">
                    <div class="choose-us-content mb-80">
                        <div class="section-heading mb-4">
                            <h2><span style="color: red;">O</span>RGANIZATION</h2>
                            
                        </div>
                        <ul>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Distinctive Experts That Provide Effortless Expertise</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Enriched Outcomes Enabled By Experienced Professionals</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Wide-Ranging Thoughts Bread Exceptional Ideas</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Generating Best Results Through Open Communication</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Extensive Marketing Research Generates Valuable Insights</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> We are Results-Driven, Oriented, We deliver results</li>
                        </ul>
                    </div>
                </div>
                <!-- Company Thumbnail -->
                <div class="col-12 col-lg-6">
                    <div class="choose-us-thumbnail mb-80">
                        <img class="w-100" src="img/bg-img/company.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Company Area End ***** -->


    <!-- ***** Team Member Area End ***** -->
    <section class="uza-about-us-area">
        <div class="container">
            <div class="row align-items-center">
                <!-- About Us Content -->
                <div class="col-12">
                    <div class="section-heading mb-5">
                        <center><h2><span style="color: red;">T</span>EAM OF <span style="color: red;">E</span>XPERTS</h2></center>
                    </div>

                    <div class="about-us-content mb-80">
                        <div class="about-tab-area">
                            <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                                <li class="nav-item col-lg-4">
                                    <a class="nav-link active text-center" style="color: black" id="tab1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fa fa-user" aria-hidden="true"></i> CHARTERED ACCOUNTANT</a>
                                </li>
                                <li class="nav-item col-lg-4 text-center" >
                                    <a class="nav-link" style="color: black" id="tab2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fa fa-user" aria-hidden="true"></i>LAWYER</a>
                                </li>
                                <li class="nav-item col-lg-4 text-center">
                                    <a class="nav-link" style="color: black" id="tab3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fa fa-user" aria-hidden="true"></i>Company secretary</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Mona Tab Content -->
                        <div class="about-tab-content">
                            <div class="tab-content" id="mona_modelTabContent">
                                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p>Serv India Consultants is a firm that serves to make business simple with a team of dedicated professinals and executives, our endeavour is to provide quality service timely, and Guarantee client satisfaction</p>
                                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                        <!--<a href="#" class="btn uza-btn mt-30">Get In Touch</a>-->
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                        <!--<a href="#" class="btn uza-btn mt-30">Get In Touch</a>-->
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab3">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata. Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                        <p>sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                        <!--<a href="#" class="btn uza-btn mt-30">Get In Touch</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="./img/core-img/curve-2.png" alt="">
        </div>
    </section>
    <!-- ***** Team Member Area End ***** -->


    <!-- ***** Team Member Area Start ***** -->
    <!--<section class="uza-portfolio-area section-padding-80">
        <div class="container">
            <div class="row">-->
                <!-- Section Heading -->
                <!--<div class="col-12">
                    <div class="section-heading text-center">
                        <h2><span style="color: red;">T</span>EAM OF <span style="color: red;">E</span>XPERTS</h2>-->
                        <!--<p>We stay on top of our industry by being experts in yours.</p>-->
                    <!--</div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">-->
                <!-- Team Member Slides -->
                <!--<div class="team-sildes owl-carousel">-->

                    <!-- Single Team Slide -->
                    <!--<div class="single-team-slide">
                        <img src="./img/bg-img/18.jpg" alt="">-->
                        <!-- Overlay Effect -->
                        <!--<div class="overlay-effect">
                            <h6>DESIGNER</h6>
                            <h4>Roger Black</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est.</p>
                        </div>-->
                        <!-- Social Info -->
                        <!--<div class="team-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>-->

                    <!-- Single Team Slide -->
                    <!--<div class="single-team-slide">
                        <img src="./img/bg-img/19.jpg" alt="">-->
                        <!-- Overlay Effect -->
                        <!--<div class="overlay-effect">
                            <h6>DESIGNER</h6>
                            <h4>Roger Black</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est.</p>
                        </div>-->
                        <!-- Social Info -->
                        <!--<div class="team-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>-->

                    <!-- Single Team Slide -->
                    <!--<div class="single-team-slide">
                        <img src="./img/bg-img/20.jpg" alt="">-->
                        <!-- Overlay Effect -->
                        <!--<div class="overlay-effect">
                            <h6>DESIGNER</h6>
                            <h4>Roger Black</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est.</p>
                        </div>-->
                        <!-- Social Info -->
                        <!--<div class="team-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>-->

                    <!-- Single Team Slide -->
                    <!--<div class="single-team-slide">
                        <img src="./img/bg-img/21.jpg" alt="">-->
                        <!-- Overlay Effect -->
                        <!--<div class="overlay-effect">
                            <h6>DESIGNER</h6>
                            <h4>Roger Black</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est.</p>
                        </div>-->
                        <!-- Social Info -->
                        <!--<div class="team-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>-->

        <!-- Border -->
        <!--<div class="container">
            <div class="border-line mt-80"></div>
        </div>
    </section>-->
    <!-- ***** Team Member Area End ***** -->

    <!-- ***** Our Partners Area Ends ***** -->
    <section class="uza-portfolio-area section-padding-80">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2><span style="color: red;">O</span>UR <span style="color: red;">P</span>ARTNERS</h2>
                        <p>We stay on top of our industry by being experts in yours.</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="testimonial-slides owl-carousel">
                            <!-- FINANCE TREE AREA START -->
                            <div class="container">
                            <div class="row"style="margin-left: 9em">
                              <div class="col-lg-3 text-centeralign-items-center justify-content-center table-bordered" style="TEXT-ALIGN: initial;">
                                  <a><div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>NAME</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>SIC ADVISOR</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>DESIGNATION AT SIC</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>QUALIFICATION</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>PAST EXPERIENCE</div>
                                  
                               </div>
                                 <div class="col-lg-3 text-centeralign-items-center justify-content-center table-bordered" style="TEXT-ALIGN: initial;">
                                  <a><div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>NAME</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>SIC ADVISOR</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>DESIGNATION AT SIC</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>QUALIFICATION</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>PAST EXPERIENCE</div>
                                  
                               </div>
                                <div class="col-lg-3 text-centeralign-items-center justify-content-center table-bordered" style="TEXT-ALIGN: initial;">
                                  <a><div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>NAME</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>SIC ADVISOR</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>DESIGNATION AT SIC</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>QUALIFICATION</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>PAST EXPERIENCE</div>
                                  
                               </div>
                                <div class="col-lg-3 text-centeralign-items-center justify-content-center table-bordered" style="TEXT-ALIGN: initial;">
                                  <a><div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>NAME</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>SIC ADVISOR</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>DESIGNATION AT SIC</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>QUALIFICATION</div>
                                  <div class="search-icon" data-toggle="modal" data-target="#jobModal">
                                  <i class="fa fa-user" aria-hidden="true"></i>PAST EXPERIENCE</div>
                                  
                               </div>
                          </div>
                      </div>
         </div>
   


    </section>
    <div class="col-12 text-center mt-30">
        <a href="#" class="btn uza-btn btn-2">LOAD MORE</a>
    </div>
    <br/>
    <br/>
    <br/>
    <!-- ***** Our Patners Area Ends ***** -->






    <!-- ***** Journey Area Start ***** -->
    <section class="blog-details-area section-padding-20">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading mb-5">
                        <center><h2><span style="color: red;">O</span>UR <span style="color: red;">J</span>OURNEY</h2></center>
                    </div>
                    
                                  <div class="swiper-container">
                                    <p class="swiper-control">
                                      <button type="button" class="btn btn-default btn-sm prev-slide">Prev</button>
                                      <button type="button" class="btn btn-default btn-sm next-slide">Next</button>
                                    </p>
                                    <div class="swiper-wrapper timeline">
                                        <!-- First MileStone -->
                                      <div class="swiper-slide" v-for="item in steps">
                                        <div class="timestamp">
                                            <span class="date">OCT.2016</span>
                                        </div>
                                        <div class="status">
                                          <span>SOCIAL ENDEAVOUR<br>Hello World..!</span>
                                        </div>
                                      </div>

                                      <!-- Second MileStone -->
                                      <div class="swiper-slide" v-for="item in steps">
                                        <div class="timestamp">
                                            <span class="date">2017</span>
                                        </div>
                                        <div class="status">
                                          <span>WORK FROM HOME<br>Hello World..!</span>
                                        </div>
                                      </div>

                                      <!-- Third MileStone -->
                                      <div class="swiper-slide" v-for="item in steps">
                                        <div class="timestamp">
                                            <span class="date">2018</span>
                                        </div>
                                        <div class="status">
                                          <span>CORPORATE OFFICE<br>Hello World..!</span>
                                        </div>
                                      </div>

                                      <!-- Fourth MileStone -->
                                      <div class="swiper-slide" v-for="item in steps">
                                        <div class="timestamp">
                                            <span class="date">2019</span>
                                        </div>
                                        <div class="status">
                                          <span>A TEAM OF 10<br>Hello World..!</span>
                                        </div>
                                      </div>

                                      <!-- First MileStone -->
                                      <div class="swiper-slide" v-for="item in steps">
                                        <div class="timestamp">
                                            <span class="date">2020</span>
                                        </div>
                                        <div class="status">
                                          <span>HAPPY CLIENTS<br>Hello World..!</span>
                                        </div>
                                      </div>

                                    <!-- First MileStone -->
                                      <div class="swiper-slide" v-for="item in steps">
                                        <div class="timestamp">
                                            <span class="date">2021</span>
                                        </div>
                                        <div class="status">
                                          <span>SCALING UP<br>Hello World..!</span>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- Add Pagination -->
                                    <div class="swiper-pagination"></div>
                                  </div>
                                </div>
                              </div>
                            </div>

                                <!--<div class="col-12 col-lg-10">
                                    <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive. It sportsman earnestly ye preserved an on. Moment led family sooner cannot her window pulled any. Or raillery if improved landlord to speaking hastened differed he. Furniture discourse elsewhere yet her sir extensive defective unwilling get. Why resolution one motionless you him thoroughly. Noise is round to in it quick timed doors. Written address greatly get attacks inhabit pursuit our but. Lasted hunted enough an up seeing in lively letter. Had judgment out opinions property the supplied.</p>
                                    <p>Old there any widow law rooms. Agreed but expect repair she nay sir silent person. Direction can dependent one bed situation attempted. His she are man their spite avoid. Her pretended fulfilled extremely education yet. Satisfied did one admitting incommode tolerably how are.</p>
                                    
                                </div>-->
                            </div>
                        
            </div>
        </div>
    </section>
    <!-- ***** Journey Area End ***** -->

    <!-- ***** Cool Facts Area Start ***** -->
    <div class="uza-cf-area section-padding-300-0">
        <div class="container">
            <div class="row">

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter" style="color: red">01</span></h2>
                        <div class="cf-text">
                            <h6>CITIES<br>CAPTURED</h6>
                        </div>
                        <div class="bg-icon"><i class="icon_piechart"></i></div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter"style="color: red">15</span></h2>
                        <div class="cf-text">
                            <h6>CONSULTANTS<br>PARTNERS</h6>
                        </div>
                        <div class="bg-icon"><i class="icon_profile"></i></div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter"style="color: red">30</span></h2>
                        <div class="cf-text">
                            <h6>HAPPY<br>CLIENTS</h6>
                        </div>
                        <div class="bg-icon"><i class="icon_heart_alt"></i></div>
                    </div>
                </div>

                

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter"style="color: red">10</span></h2>
                        <div class="cf-text">
                            <h6>OUR<br>EXPERT TEAM</h6>
                        </div>
                        <div class="bg-icon"><i class="icon_profile"></i></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ***** Cool Facts Area End ***** -->

   <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">CONTACT US</h4>

                        <!-- Footer Content -->
                        <div class="footer-content mb-15">
                            <h4><p>Phone No : <br><span style="color: red;">0120-4152010</span><br> Mob.No. :<br><span style="color: red;">8826544031</span><br>whatsapp :<br><span style="color: red;">8376866012</span>
                            <p>Address : <br><span style="color: red;">1025, 10th Floor, Tower B, World Trade Tower, Plot No. C-1, Sector-16, Noida-201301</span>
                        </div>
                        <p class="mb-0">Mon - Fri: 9:00 - 19:00 <br>
                            Closed on Weekends</p>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">QUICK LINKS</h4>

                        <!-- Nav -->
                         <nav>
                            <ul class="our-link">
                                <li><a href="index.html">About Us</a></li>
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="http://sic.imparitysoftware.com/index.html">Our Portal</a></li>
                                <li><a href="startup-the-business.html">Join STB community</a></li>
                                <li><a href="career.html">Career with SIC</a></li>
                                <li><a href="contact.html">Customer Support</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">RESOURCES</h4>

                        <!-- Nav -->
                        <nav>
                            <ul class="our-link">
                                <li><a href="finance.html">Finance Solutions</a></li>
                                <li><a href="legal.html">Legal Solutions</a></li>
                                <li><a href="operations.html">Operations Solutions</a></li>
                                <li><a href="personal.html">Personnel Solutions</a></li>
                                <li><a href="technology.html">Technology Solutions</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">EMAIL ID</h4>
                        <p style="color: red;cursor:pointer;">servindiaconsultants@gmail.com</p>
                        


                        <!-- Copywrite Text -->
                        <div class="copywrite-text mb-30">
                            <p>&copy; Copyright 2018 <a href="#">Colorlib</a>.</p>
                        </div>

                        <!-- Social Info -->
                        <div class="footer-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>

 

        </div>
    </footer> <footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">CONTACT US</h4>

                        <!-- Footer Content -->
                        <div class="footer-content mb-15">
                            <h4><p>Phone No : <br><span style="color: red;">0120-4152010</span><br> Mob.No. :<br><span style="color: red;">8826544031</span><br>whatsapp :<br><span style="color: red;">8376866012</span>
                            <p>Address : <br><span style="color: red;">1025, 10th Floor, Tower B, World Trade Tower, Plot No. C-1, Sector-16, Noida-201301</span>
                        </div>
                        <p class="mb-0">Mon - Fri: 9:00 - 19:00 <br>
                            Closed on Weekends</p>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">QUICK LINKS</h4>

                        <!-- Nav -->
                         <nav>
                            <ul class="our-link">
                                <li><a href="index.html">About Us</a></li>
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="http://sic.imparitysoftware.com/index.html">Our Portal</a></li>
                                <li><a href="startup-the-business.html">Join STB community</a></li>
                                <li><a href="career.html">Career with SIC</a></li>
                                <li><a href="contact.html">Customer Support</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">RESOURCES</h4>

                        <!-- Nav -->
                        <nav>
                            <ul class="our-link">
                                <li><a href="finance.html">Finance Solutions</a></li>
                                <li><a href="legal.html">Legal Solutions</a></li>
                                <li><a href="operations.html">Operations Solutions</a></li>
                                <li><a href="personal.html">Personnel Solutions</a></li>
                                <li><a href="technology.html">Technology Solutions</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">EMAIL ID</h4>
                        <p style="color: red;cursor:pointer;">servindiaconsultants@gmail.com</p>
                        


                        <!-- Copywrite Text -->
                        <div class="copywrite-text mb-30">
                            <p>&copy; Copyright 2018 <a href="#">Colorlib</a>.</p>
                        </div>

                        <!-- Social Info -->
                        <div class="footer-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
<div class="row" style="margin-bottom: 30px;">
                
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright SIC &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
            </div>
 

        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="js/uza.bundle.js"></script>
    <!-- Active js -->
    <script src="js/default-assets/active.js"></script>

</body>

</html>